* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #fafafa;
    color: #333;
}

.navbar {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.nav-icons span {
    margin-left: 15px;
    cursor: pointer;
}

.feed {
    width: 400px;
    margin: 20px auto;
}

.post {
    background: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile {
    border-radius: 50%;
    margin-right: 10px;
}

.post-img {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.post-actions {
    padding: 10px;
    font-size: 20px;
}

.post:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.liked {
    color: red;
}

.dark {
    background: #121212;
    color: #fff;
}

.dark .navbar,
.dark .post {
    background: #1e1e1e;
    border-color: #333;
}